* {
    box-sizing: border-box;
}

.container {
    width: 50%;
    /* border: black 1px solid; */
    display: flex;
    flex-wrap: wrap;
}

.cell {
    border: black 1px solid;
    width: 25%;
    aspect-ratio: 1/1;
}

.hover {
    background-color: red;
}

